
.gridLayout{
    display: grid;
    grid-template-columns: 2000px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header_block header_block header_block header_block"
    "menu_block menu_block side_block side_block"
    "main_block main_block main_block main_block"
    ;
    column-gap: 10px;
    row-gap: 30px;
    position: fixed;
}
.header{
    padding:10px;
    background-color: rgb(100, 230, 239);
    color:antiquewhite;
    font-size: 15px;
    grid-area: header_block;
    height: 8cm;
    
}
.menu{
    padding:10px;
    background-color:rgb(93, 73, 2);
    color:bisque;
    font-size: 15px;
    grid-area: menu_block;
    height:5cm;
}
.main{
    padding:10px;
    background-color: rgb(6, 246, 142);
    color:blanchedalmond;
    font-size: 15px;
    grid-area: main_block;
    height:5cm;

}
.sidebar{
    padding:10px;
    background-color: rgb(67, 144, 246);
    grid-area: side_block;

}
.dot1{
    height:700px;
    width:700px;
    background-color: rgb(0, 0, 0);
    border-radius:50%;
    display:inline-block;
    position: sticky;
    bottom:200px;
    z-index:-1;
    
}
.dot2{
    background: rgb(111, 244, 135);
    border-radius: 50%;
    width:600px;
    height: 500px;
    display:inline-block;
    position:absolute;
    
    
    z-index:0;
    

}
body{
    background-color: rgb(235, 243, 7);
}
@media (max-width:900px) {
    .dot2{
        opacity: .5;
    }
    .header, .menu, .main{
        opacity: .5;
    }
    }